{{#if error}}
	<div class="alert alert-danger" role="alert">{{error}}</div>
{{/if}}

<!-- <h1>Upload a File</h1>
<form method="post" action="/upload" enctype="multipart/form-data">
	<input type="file" name="file">
	<button type="submit" class="btn btn-lg btn-success">Upload</button>
</form>

<h1>{{email}}'s Files</h1>
<ul class="media-list">
	{{#each files as |file|}}
		<li class="media" id="{{file.id}}">
			<div class="media-left">
				<img src="/thumbnail/{{file.id}}" alt="" />
			</div>
			<div class="media-body">
				{{file.name}}
				<a href="/download/{{file.id}}" class="btn btn-primary">Download</a>
				<a href="/preview/{{file.id}}" class="btn btn-primary">Preview</a>
			</div>
		</li>
	{{/each}}
</ul> -->



<head>
  <style>
     #map {
      height: 400px;
      width: 100%;
     }
  </style>
</head>
<body>
  <h3>My Google Maps Demo</h3>
	<ul>
		{{#each markers as |marker|}}
		<li class="markers">{{marker.lat}}|{{marker.lng}}</li>
		{{/each}}
	</ul>
  <div id="map"></div>
  <script>
		function initMap(markers) {
			var mapMarkers = [];
			var uluru = {lat: -25.363, lng: 131.044};
			pins = [];
			markers = document.getElementsByClassName('markers');
			for(var i=0; i<markers.length; i++) {
				var node = markers[i],
					temp = node.innerHTML.split('|'),
					lat = parseFloat(temp[0]),
					lng = parseFloat(temp[1]);
					pins.push({lat: lat, lng: lng});
			}
			// markers = [uluru];
			// $('.markers').
			console.log(pins);
			var map = new google.maps.Map(document.getElementById('map'), {
				zoom: 4,
				center: uluru
			});
			pins.forEach(function(item, index){
				console.log("item", item)
				mapMarkers.push(new google.maps.Marker({
					position: item,
					map: map
				}));
			})

		}
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIS3aoMV_m1hJ7aNCarutjEGHUVM0X_rk&callback=initMap">
  </script>
</body>
